.pagination{
    display: flex;
    justify-content: center;
 }
.pagination ul{
    width: 60%;
    border: transparent;
}
a{
    text-decoration: none;
    color: green;
    cursor: pointer;
    border: 1px solid green;
    padding: 0.5rem;
}

a:hover,
a:active,
a:focus
{
    color: red;
    border: 2px solid red;
}