.control{
display: flex;
flex-direction: column;
font: inherit;
font-size: 1.2rem;
margin-bottom: 1rem;
color: green;
}

.control select{
    color: inherit;
    background-color: inherit;
    padding: 0.5rem 1.5rem;
    border-radius: 6px;
    border: 1px solid green;
}